#news-card-1 {
    position: relative;
    width: 100%;
    padding: 0px 0px;
    padding-bottom: 40px;
}

#news-card-1 .news-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background: linear-gradient(90deg, transparent 50%, #7C68EE);
    height: 50px;
}

#news-card-1 .news-title .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-left: 6px solid #7C68EE;
    padding: 0px 20px;
    padding-top: 0;
    padding-right: 30px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    height: 50px;
}

#news-card-1 .news-title .title img {
    margin-right: 15px;
}

#news-card-1 .news-title .title span {
    font-family: 'Roboto Slab', serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #7C68EE;
}


#news-card-1 .news-title  .more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #2D3138;
    padding: 6px 10px;
    border-radius: 7px;
    margin-right: 5px;
}

#news-card-1 .news-title  .more span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* color: #51586d; */
    color: white;
    margin-right: 10px;
}

#news-card-1 .news-title  .more i {
    color: white;
}

#announcementsCard-1 .blockquote-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}




#news-card-1 .swiper.m-p-news {
    width: 100%;
    height: 530px !important;
    padding: 20px 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border-radius: 10px;
    /* background-color: white; */


}

#news-card-1 .swiper.m-p-news .swiper-button-prev {
    top: 100% !important;
}

#news-card-1 .swiper.m-p-news .swiper-button-next {
    top: 100% !important;
}

#news-card-1 .swiper.m-p-news .swiper-button-prev::after,
#news-card-1 .swiper.m-p-news .swiper-button-next::after {
    display: none;
}

#news-card-1 .swiper.m-p-news .swiper-button-prev .left-arrow {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 4px;
    background-color: #484e5a;
    transform: translateY(-100%);
}

#news-card-1 .swiper.m-p-news .swiper-button-next .right-arrow {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 4px;
    background-color: #484e5a;
    transform: rotateY(180deg) translateY(-100%);
}

#news-card-1 .swiper.m-p-news .swiper-pagination {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform: translateY(-100%);
}

#news-card-1 .swiper.m-p-news .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #484e5a;
    width: 12px;
    height: 12px;
    transition: 0.2s all !important;
}

#news-card-1 .swiper.m-p-news .swiper-wrapper {
    width: 100%;
    height: 450px !important;
}

#news-card-1 .swiper.m-p-news .swiper-slide {
    padding: 3px 3px;
    height: 200px;

}

#news-card-1 .swiper.m-p-news .swiper-slide a {
    position: absolute;
    color: #484e5a;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #002fff;

}
#news-card-1 .swiper.m-p-news .swiper-slide a:hover img {
    object-fit: cover;
    height: 103%;
    width: 103%;
    
}

#news-card-1 .swiper.m-p-news .swiper-slide a img {
    transition: 0.3s all;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}

#news-card-1 .bg-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: linear-gradient(180deg, transparent, rgb(0, 0, 0), rgb(0, 0, 0));

}

#news-card-1 .swiper.m-p-news .swiper-slide a .slide-content {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

#news-card-1 .swiper.m-p-news .swiper-slide a .slide-content .title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
            line-clamp: 3; 
    -webkit-box-orient: vertical;
    padding: 5px 7px;
    background-color: #2d3138b4;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
}

#news-card-1 .swiper.m-p-news .swiper-slide a .slide-content .category {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #dee4f0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    background-color: #4C3398;
    padding: 6px 9px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}