{% block content %}

<div id="studentUsersFollows">
    <div class="studentUsersFollowsCover">

        <div class="row w-100 followers">
            <div class="text">
                Takip Eden Kişiler
            </div>
            <div class="content-row">
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/profil-resmi.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                Muhammet Harun Keleş
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/ali-asaf.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <span>Ali Asaf Kuru</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/ali-asaf4.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <span>Ali Asaf Kuru</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/ali-asaf3.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <span>Ali Asaf Kuru</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/ali-asaf2.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <span>Ali Asaf Kuru</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="see-more">
                <div class="more-text">
                    <a href="">
                        Tümünü Gör <span>(18)</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row w-100 followed">
            <div class="text">
                Takip Edilen Kişiler
            </div>
            <div class="content-row">
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/Admin_Resim.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                Muhammet Harun Keleş
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/melik.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <span>Abdülmelik Polat</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/nursel.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <span>Nursel Kütükçü</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/emir.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <span>Emir Ebubekir Keleş</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-header">
                            <img src="/static/img/ebrar.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <span>Zeyna Ebrar Keleş</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="see-more">
                <div class="more-text">
                    <a href="">
                        Tümünü Gör <span>(25)</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row w-100 clubs">
            <div class="text">
                Takip Edilen Kulüpler
            </div>
            <div class="content-row">
                <div class="card">
                    <div class="card-header">
                        <img src="/static/img/btk.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            Bilişim Teknoloji Kulübü
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="/static/img/dsc.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            Google DSC Zaim Kulübü
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="/static/img/iik.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            İzü İnovasyon Kulübü
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="/static/img/ino.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            AkademİNO Kulübü
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <img src="/static/img/IITC.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            IITC Etkinlikler Kulübü
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}