{% block content %}

<div id="studentUsersAllPosts">
    <div class="studentUsersAllPostsCover">
        <div class="row w-100 design-buttons">
            <div class="col design-button-position">
                <a id="list" class="btn btn-default btn-sm ">
                    <i class="fas fa-th-list"></i>
                </a>

                <a id="grid" class="btn btn-default btn-sm ">
                    <i class="fas fa-th-large"></i>
                </a>
            </div>
            <div class="col sUAPC">
                <span>6</span> içerik
            </div>
        </div>

        <div id="studentUsersAllPostsItems" class="row w-100 post-items">

            <div class="item">
                <div class="row">
                    <div class="sUAICL col left-side ">
                        <h5>
                            How to Architect a Production-Level App in Flutter: Phone Number Authentication
                        </h5>
                        <p class="text-small-content">
                            When developers jump into Flutter, they can find various resources which help them get
                            started. Resources such as tutorials, repositories…
                        </p>
                        <div class="row w-100">
                            <div class="col time w-auto">
                                <span>2021 Eylül 16</span>
                            </div>
                            <div class="col education">
                                <img src="/static/img/right.png" alt="">
                                <a class="btn">İslam Ekonomisi ve Finans</a>
                            </div>
                        </div>
                    </div>
                    <div class="sUAICR col right-side">
                        <img src="/static/img/post2.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="sUAICL col left-side ">
                        <h5>
                            Rover raised $65 million
                        </h5>
                        <p class="text-small-content">
                            Arf seamlessly compliance framework to enable instant integrates with stablecoins for
                            infrastructure and compliance framework ...
                        </p>
                        <div class="row w-100">
                            <div class="col time w-auto">
                                <span>2021 Eylül 01</span>
                            </div>
                            <div class="col education">
                                <img src="/static/img/right.png" alt="">
                                <a class="btn">Uluslararası ilişkiler</a>
                            </div>
                        </div>
                    </div>
                    <div class="sUAICR col right-side">
                        <img src="/static/img/post3.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="sUAICL col left-side ">
                        <h5>
                            Flutter’s First Micro-framework | Nylo
                        </h5>
                        <p class="text-small-content">
                            I recently released v1.1.0 for Nylo, a micro-framework for Flutter developers.
                        </p>
                        <div class="row w-100">
                            <div class="col time w-auto">
                                <span>2021 Eylül 16</span>
                            </div>
                            <div class="col education">
                                <img src="/static/img/right.png" alt="">
                                <a class="btn">Endüstri Mühendisliği</a>
                            </div>
                        </div>
                    </div>
                    <div class="sUAICR col right-side">
                        <img src="/static/img/post1.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="sUAICL col left-side ">
                        <h5>
                            Flutter — Visual Studio Code Shortcuts for Fast and Efficient Development
                        </h5>
                        <p class="text-small-content">
                            Shortcuts help improve code efficiency and coding time, hence I will be sharing all the top
                            shortcuts you can use with Visual Code...
                        </p>
                        <div class="row w-100">
                            <div class="col time w-auto">
                                <span>2021 Eylül 16</span>
                            </div>
                            <div class="col education">
                                <img src="/static/img/right.png" alt="">
                                <a class="btn">Yazılım Mühendisliği</a>
                            </div>
                        </div>
                    </div>
                    <div class="sUAICR col right-side">
                        <img src="/static/img/arka-plan.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="sUAICL col left-side ">
                        <h5>
                            Rover raised $65 million
                        </h5>
                        <p class="text-small-content">
                            Arf seamlessly compliance framework to enable instant integrates with stablecoins for
                            infrastructure and compliance framework ...
                        </p>
                        <div class="row w-100">
                            <div class="col time w-auto">
                                <span>2021 Eylül 16</span>
                            </div>
                            <div class="col education">
                                <img src="/static/img/right.png" alt="">
                                <a class="btn">İslam Ekonomisi ve Finans</a>
                            </div>
                        </div>
                    </div>
                    <div class="sUAICR col right-side">
                        <img src="/static/img/post2.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="sUAICL col left-side ">
                        <h5>
                            Siyaset Bilimi ve Uluslararası İlişkiler Bölümü Hakkında
                        </h5>
                        <p class="text-small-content">
                            Arf seamlessly compliance framework to enable instant integrates with stablecoins for
                            infrastructure and compliance framework ...
                        </p>
                        <div class="row w-100">
                            <div class="col time w-auto">
                                <span>2021 Eylül 01</span>
                            </div>
                            <div class="col education">
                                <img src="/static/img/right.png" alt="">
                                <a class="btn">Siyaset Bilimi ve Uluslararası İlişkiler</a>
                            </div>
                        </div>
                    </div>
                    <div class="sUAICR col right-side">
                        <img src="/static/img/profil-resmi.jpg" alt="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}